.gendoc-campo-normal, .gendoc-campo-referenciado, .gendoc-campo-espelhado {
  padding: 2px;
  background: #eee;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px #fff inset, 0 -1px 0 #ccc inset;
  text-align: center;
}
.gendoc-campo-espelhado {
  background: #ddd;
  border: 1px solid #ccc;
  font-style: italic;
}
.gendoc-campo-referenciado {
  background: #ccc;
  border: 1px solid #bbb;
}